body {
      font-size: 1em;
}

/* calculator */
.flex-container {
  display: flex;
  align-items: center; /*default*/
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}
.flex-container > .row > .col {
  text-align: center;
  border-width: 0.5px;
  border-color: blue;
  border-style: solid;
}
.flex-container > .btn-group > .btn-lg {
  width: 75px;
  border-style: dotted;
  border-color: blue;
  border-width: 1px;
}
.flex-container > .row > #inputDisplay {
  width: 300px;
  height: 75px;
  background-color: grey;
}
.flex-container > .row > #outputDisplay {
  width: 300px;
  height: 50px;
  background-color: grey;
}
